:root {
    --margin-default: 0 5em;
    --padding-deffault: 1rem;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
    /* font-size: 62.5%; */
    width: 100%;
}

body {
    margin: 0;
    font-family: "Inter", sans-serif;
    
    background-color: #ccc;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    background-color: #2A2A2A;
    color: white;

    /* text-align: center; */

    margin-top: 1em;
}

footer span {
    padding: 1.5em;
}

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.top {
    background-color: #2A2A2A;
}

.top-itens {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: var(--margin-default);
    padding: var(--padding-deffault);
}    

.menu-top {
    display: flex;
    gap: 16px;
}

.menu-top li{
    list-style-type: none;  
}

.menu-top a {
    text-decoration: none;

    padding: 10px;

    border: 2px solid #C9A60B;
    color: #C9A60B;
}

.menu-top a:hover {
    color: #000000;
    background-color: #C9A60B;
}

.main-info__article {
    background-color: #FFFF52;
}

.hero-main {
    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: var(--margin-default);
}

.upper {
    text-transform: uppercase;
}

.link {
    margin-top: 50px;
}

.info p {
    font-size: 56px;
}

.info a {
    background-color: #e4e44b;
    color: black;
    text-decoration: none;

    border-radius: 5px;
    border: 1px solid #FFFF52;
    padding: 10px;
} 

.main-section__align {
    text-align: center;
}

.main-title {
    margin-top: 4em;
    font-size: 1.7rem;
    text-align: center;
}

.main-section {
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 2em;
    line-height: 1.5em;
}

.main-section article {
    width: 20vw;
    text-align: justify;
} 

.container-article {
    display: flex;
    flex-direction: column;
}

.main-section__link a {
    border: 1px solid #FFFF52;
    border-radius: 5px;
    background-color: #FFFF52;
    color: #000000;

    padding: 16px;

    text-decoration: none;
}

.course-section {
    margin-top: 9em;
}

.course-section__info {
    background-color: #003464;

    display: flex;
    align-items: center;
    padding: 5em 5em 0 5em;
    gap: 5em;
}

.course-section__info-article {
    color: #ffffff;

    text-align: left;
    font-size: 1.4rem;
    line-height: 1.5em;
    letter-spacing: 4px;
    word-spacing: 10px;
}

.course-section__info-article  p {
    margin-top: 60px;
}

.contacts {
    text-align: center;
    padding: 36px;
    font-size: 1.7rem;
}

.map-contact__section {
    display: flex;
    flex-direction: column; 
    align-items: center; 
}

.contacts-info p{
    text-align: right;
}