:root {
    --border-primary: #727272;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(to top, #5d61f2, #27296b);
}

button {
    border: 2px solid black;
    border-left-color: var(--border-primary);
    border-top-color: var(--border-primary);
    font-size: 1em;
}

button:hover {
    background-image: none;
    background-color: var(--border-primary);
    cursor: pointer;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(5, 60px);
    gap: .5em;

    width: 300px;
    padding: 20px;
    background-image: linear-gradient(#5981a4, #2b4772);
    border-radius: 5px;
    box-shadow: 0 0 10px rgb(0 0 0 / .8);
}

.display, button {
    background-image: linear-gradient(#353535, #1b1717);
    color: white;
}

.display {
    box-shadow: inset 3px 3px 0 #161616;
    font-size: 2em;
    padding: 10px 8px;
    grid-column: 1 / -1;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.span-row-2 {
    grid-row: span 2;
}

.span-col-2 {
    grid-column: span 2;
}