:root {
    --black-color: black;
    --white-color: white;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
    line-height: 1.4;
    background-color: var(--black-color);
    font-size: 1.6rem;
}

.header{
    position: absolute;
    width: 100%;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    display: block;
    color: yellow;
    text-shadow: 1px 1px 3px rgb(165, 165, 165);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-list li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: inline-block;
    transition: .3s ease;
    padding: 16px;
}

.nav-list li a:hover {
    color: var(--white-color);
    background-color: rgba(0 0 0 / .3);
    transform: scale(1.2);
}

.container {
    padding: 16px;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.2rem;
}

.hero-title {
    width: 70%;
    text-align: center;
    color: var(--black-color);
    background-color: #ccc;
    padding: 16px;
    text-shadow: 1px 1px 5px var(--black-color);
    box-shadow: 1px 1px 5px var(--black-color);
}

.hero-content {
    width: 60%;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    padding: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent; 
    border-bottom: 100px solid black;
    position: relative;
    top: -25px; 
    margin: 0 auto; 


    /* position: relative;
    transform: rotateZ(45deg);
    background-color: var(--black-color);
    top: 20px;
    left: 43%;
    width: 200px;
    height: 200px;
    z-index: 2; */
}

.carousel {
    position: relative;
    background-color: var(--black-color);
    box-shadow: 1px -5px 5px rgba(255 255 255 / .4);
}

.carousel-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 16px;
}

.card {
    color: black;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: .2s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 2px 2px 5px #00C7AE;
}

.card > img {
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 5px black;
    width: 100%;
    
}

.card:hover .profile-picture img{
    transform: translateY(-88px);
}

.profile-picture {
    width: 88px;
    height: 88px;
    margin: -55px auto;
    overflow: hidden;
}

.carousel-text {
    text-align: center;
    padding: 55px 25px 10px;
}

.carousel-text h2 {
    font-weight: bold;
    font-size: 2.6rem;
}

.carousel-text p {
    color: #00C7AE;
    text-shadow: 1px 1px 1px black;
    font-size: 1.8rem;
}

.content-buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    gap: 46px;
    margin: 100px 0;
    padding: 100px;

    color: #00C7AE;
    background-color: rgba(255 255 255 / .1);
    border-top: 1px solid #00C7AE;
    border-bottom: 1px solid #00C7AE;
}

.content-buttons article {
    width: 70%;
}

.content-buttons article h3 {
    font-size: 2.6rem;
}

.content-buttons article p {
    font-size: 1.8rem;
}

.buttons {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.generic-button {
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    box-shadow: 1px 1px 5px white;
}

.left-button {
    border: 1px solid #00C7AE;
    background-color: #00C7AE;
}

.right-button {
    border: 1px solid #445157;
    background-color: #445157;
}

.generic-button:hover {
    box-shadow: none;
    background-color: #637279;
    border: 1px solid #637279;
}

.galery {
    width: 100%;
}

.galery h2 {
    width: 100%;
    color: white;
    background-color: #00C7AE;
    text-transform: uppercase;
    padding: 16px;
    font-size: 2.6rem;
    font-weight: bold;
}

.galery div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid: 0;
}

.galery div a img {
    width: 100%;
    display: block;
    transition: transform .2s ease-in;
}

.galery div a img:hover {
    transform: scale(1.1);
}

.laptop-slider {
    background-color: #242a2c;
    padding: 125px 0 100px;
    width: 100%;
    overflow: auto;
}

.js .laptop-slider{
    overflow: hidden;
    color: white;
}

.js .laptop-slider .slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    max-width: 950px;
}

.js .laptop-slider figure{
    opacity: 0;
    transition: 1s opacity;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    
}

.js .laptop-slider figure.show{
    opacity: 1;
    position: static;
    
}

.js .laptop-slider .prev, .js .laptop-slider .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}

.js .laptop-slider .prev{
    left: 10px;
}

.js .laptop-slider .next{
    right: 10px;
}

.prev i, .next i {
    cursor: pointer;
}


.quote-slideshow {
    background-color: #63c6ae;
    padding: 50px 0;
    border-bottom: 12px solid #58b9a1;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.quote-slideshow h2 {
    color: white;
    font-size: 30px;
    font-style: italic;
    font-weight: normal;
}

.quote-slideshow figcaption {
    color: white;
    font-size: 1.8rem;
}

.no-js .quote-slideshow figure + figure {
    margin-top: 5em;

}

.js .quote-slideshow{
    position: relative;
    width: 100%;
    margin: auto;
    padding: 0 50px;
    color: white;
}
.js .quote-slideshow figure h2{
    margin-top: 0;
}
.js .quote-slideshow figure{
    opacity: 0;
    transition: 1s opacity;
    position: absolute;
    top: 0;
    left: 50px;
    right: 50px;
    box-sizing: border-box;
    margin: 0;
}
.js .quote-slideshow figure.show{
    opacity: 1;
    position: static;
    
}
.js .quote-slideshow .prev, .js .quote-slideshow .next{
    z-index: 3;
    position: absolute;
    top: 50%;
    cursor: pointer;
}
.js .quote-slideshow .prev{
    left: 10px;
}
.js .quote-slideshow .next{
    right: 10px;
}

.footer {
    background-color: #242a2c;
    padding: 50px 0 250px;
    color: #454e51;
}

.footer p {
    width: 20%;
}

.footer-links li {
    list-style: none;
}

.footer-links a {
    color: #454e51;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.flex-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
}

#directs {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10rem;
}

#directs strong {
    font-weight: 600;
}

#hero-link {
    color: var(--white-color);
    background-color: rgba(0 0 0 / .5);
    text-decoration: none;
    margin-top: 26px;
    padding: 16px;
    box-shadow: 1px 1px 5px black;
}

#hero-link:hover {
    color: var(--black-color);
    background-color: rgba(255, 255, 255, 0.4);
    filter: drop-shadow(-1px 1px);
}