html {
    font-size: 62.5%;
}

body {
    color: white;
    line-height: 1.4;
    background-color: black;
    font-size: 1.6rem;
}

.header{
    position: absolute;
    width: 100%;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.logo {
    color: yellow;
    text-shadow: 1px 1px 3px rgb(165, 165, 165);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-list a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s;
}

.nav-list a:hover {
    color: white;
    background-color: rgba(0 0 0 / .3);
    padding: 16px;
    font-size: 2.0rem;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.2rem;
}

.hero-title {
    width: 70%;
    text-align: center;
    background-color: #ccc;
    padding: 16px;
    text-shadow: 1px 1px 5px black;
}

.hero-content {
    width: 60%;
    background-color: black;
    text-align: center;
    padding: 10px;
}

#hero-link {
    color: white;
    background-color: rgba(0 0 0 / .5);
    text-decoration: none;
    margin-top: 26px;
    padding: 16px;
}

#hero-link:hover {
    color: black;
    background-color: rgba(255, 255, 255, 0.3);
    filter: drop-shadow(-1px 1px);
}