:root {
    --black-color: black;
    --white-color: white;
}

html {
    font-size: 62.5%;
}

body {
    color: var(--white-color);
    line-height: 1.4;
    background-color: var(--black-color);
    font-size: 1.6rem;
}

.header{
    position: absolute;
    width: 100%;
}

.flex-header {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.logo {
    display: block;
    color: yellow;
    text-shadow: 1px 1px 3px rgb(165, 165, 165);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 2.6rem;
}

.nav-list {
    display: flex;
    gap: 16px;
}

.nav-list li a {
    display: block;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-transform: uppercase;
}

.nav-list li {
    position: relative;
}

.nav-list li a {
    display: inline-block;
    transition: .3s ease;
    padding: 16px;
}

.nav-list li a:hover {
    color: var(--white-color);
    background-color: rgba(0 0 0 / .3);
    transform: scale(1.2);
}

.container {
    padding: 16px;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 2.2rem;
}

.hero-title {
    width: 70%;
    text-align: center;
    color: var(--black-color);
    background-color: #ccc;
    padding: 16px;
    text-shadow: 1px 1px 5px var(--black-color);
    box-shadow: 1px 1px 5px var(--black-color);
}

.hero-content {
    width: 60%;
    color: var(--white-color);
    background-color: var(--black-color);
    text-align: center;
    padding: 10px;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 100px solid transparent; 
    border-right: 100px solid transparent; 
    border-bottom: 100px solid black;
    position: relative;
    top: -25px; 
    margin: 0 auto; 


    /* position: relative;
    transform: rotateZ(45deg);
    background-color: var(--black-color);
    top: 20px;
    left: 43%;
    width: 200px;
    height: 200px;
    z-index: 2; */
}

.carousel {
    position: relative;
    background-color: var(--black-color);
    box-shadow: 1px -5px 5px rgba(255 255 255 / .4);
}

.carousel-content {
    display: flex;
    width: 70%;
    margin: 0 auto;
    gap: 16px;
}

.card {
    color: black;
    background-color: white;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    transition: .2s ease;
}

.card:hover {
    transform: translateY(-15px);
    box-shadow: 2px 2px 5px #00C7AE;
    /* border: 4px solid #777777; */
}

.card > img {
    border-radius: 5px 5px 0 0;
    box-shadow: 1px 1px 5px black;
    width: 100%;
    
}

.card:hover .profile-picture img{
    transform: translateY(-88px);
    
}

.profile-picture {
    width: 88px;
    height: 88px;
    margin: -55px auto;
    overflow: hidden;
}

.carousel-text {
    text-align: center;
    padding: 55px 25px 10px;
}

.carousel-text h2 {
    font-weight: bold;
    font-size: 2.6rem;
}

.carousel-text p {
    color: #00C7AE;
    text-shadow: 1px 1px 1px black;
    font-size: 1.8rem;
}

.content-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 46px;
    margin-top: 100px;
    padding-top: 100px;
    border-top: 1px solid #00C7AE;
}

.content-buttons article {
    width: 70%;
}

.content-buttons article h3 {
    font-size: 2.6rem;
}

.content-buttons article p {
    font-size: 1.8rem;
}

.buttons {
    display: flex;
    margin-top: 16px;
    gap: 16px;
}

.generic-button {
    color: white;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px;
    box-shadow: 1px 1px 5px white;
}

.left-button {
    border: 1px solid #00C7AE;
    background-color: #00C7AE;
}

.right-button {
    border: 1px solid #445157;
    background-color: #445157;
}

.generic-button:hover {
    box-shadow: none;
    background-color: #637279;
    border: 1px solid #637279;
}

#hero-link {
    color: var(--white-color);
    background-color: rgba(0 0 0 / .5);
    text-decoration: none;
    margin-top: 26px;
    padding: 16px;
    box-shadow: 1px 1px 5px black;
}

#hero-link:hover {
    color: var(--black-color);
    background-color: rgba(255, 255, 255, 0.4);
    filter: drop-shadow(-1px 1px);
}