html {
    font-size: 36px;
}

body {
    background-color: #535151;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.paragraph :first-child{
    color: red;
}

.paragraph :last-child {
    color: orange;
}

.paragraph :nth-child(1) {
    background-color: blue;
}