@keyframes scale {
        from {
            transform: scale(1);
        }

        50% {
            transform: scale(1.1);
        }

        to {
            transform: scale(1);
        }
}

@keyframes scrollLoop {
        from {
            transform: translateX(0);
        }
        to {
            transform: translateX(calc((var(--w) + 1.6rem) * var(--quantity) * -1));
        }    
    }