:root {
    --page-bg: #0B090D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: white;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    background: var(--page-bg) linear-gradient(to bottom, #1D0738ff, #1D073800) fixed;
}

section {
    margin-bottom: 10.0rem;
}

.header-sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to bottom, #1D0738ff 80%, #1D073800);
}

.logoicon {
    display: flex;
    justify-content: space-between;
    /* background-color: #1D0738; */
    padding: 16px;
}

.closedMenu {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    transition: max-height 0.5s ease-in-out,
                visibility 0s 0.5s,
                opacity 0.5s ease-in-out;
}

.openedMenu {
    max-height: 500px;
    visibility: visible;
    opacity: 1;
    transition: max-height 0.5s ease-in-out,
                visibility 0s, 
                opacity 0.5s ease-in-out;
}

.ul li {
    opacity: 0;
    transform: translateY(20px); 
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.openedMenu li {
    opacity: 1;
    transform: translateY(0); 
}


.openedMenu li:nth-child(1) {
    transition-delay: 0.2s; 
}

.openedMenu li:nth-child(2) {
    transition-delay: 0.4s; 
}

.openedMenu li:nth-child(3) {
    transition-delay: 0.6s; 
}

.openedMenu li:nth-child(4) {
    transition-delay: 0.8s; 
}

.openedMenu li:nth-child(5) {
    transition-delay: 1s; 
}


.nav-menu ul {
    text-align: right;
}

.nav-menu li {
    list-style: none;
    padding-bottom: 36px;
}

.nav-menu ul li a{
    text-decoration: none;
    color: white;
    padding-bottom: 5px;
}

.nav-menu ul li a:hover {
    border-bottom: 1px solid white;
}

.logoicon__logo img {
    width: 30%;
}

.testimonials__rating img {
    width: 100%;
}

.container {
    margin: 0 25px;
}

.card img {
    width: 100%;
}

.hero-banner {
    display: flex;
    flex-direction: column;
    gap: 33px;
    text-align: center;
}

.hero-banner span {
    text-transform: uppercase;
    font-weight: bold;
}

.animation {
    a {
        img {
            display: none;
        }
    }
}

/* .genneric-size-small-button a{
    border-radius: 26px;
    padding: 16px;
} */

.genneric-button-red a{
    background-color: rgb(248, 65, 65);
    border: none;
}

.genneric-button-red a {
    color: white;
    text-decoration: none;
    padding: 16px 46px;
}

.button-red-small {
    border: none;
    border-radius: 23px;
    background-color: red;
}

.button-red-small a {
    display: block;
    color: white;
    border-radius: 23px;
    padding: 16px 26px;
    text-decoration: none;
}

.button-red a{
    border-radius: 26px;
}

.hero-banner a {
    margin: 16px 0;
}

.hero-banner {
    button {
        a {
            img {
                display: none;
            }
        }
    }
}

.stars {
    img {
        display: none;
    }
}

.courses {
    margin: 56px 0;
}

.flex-container__courses {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

.courses__cards {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.courses__title {
    text-align: center;
    margin-bottom: 26px;
}

.courses__text-align-center {
    text-align: center;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card img {
    border-radius: 10px;
}

.courses__subtitle {
    font-weight: 900;
}

.courses__description {
    font-weight: 100;
}

.courses__description-content {
    margin-top: 16px;
    font-weight: 400;
}

.card__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.button-transparent-small {
    background-color: transparent;
    border-radius: 23px;
    /* padding: 16px; */
    border: 1px solid red;
}

.button-transparent-small a {
    display: block;
    color: red;
    padding: 16px;
    border-radius: 23px;
    font-weight: 700;
    text-decoration: none;
}

.testimonials {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.testimonials__rating--wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
    align-items: center;

    scroll-snap-type: x mandatory;

    img {
        margin-left: 1rem;
        width: calc(100vw - 1rem) * 2;
        flex: 0 0 calc(100vw - 1rem) * 2;
        scroll-snap-align: center;
    }
}

.ebooks {
    text-align: center;
}

.ebooks__title {
    font-size: 2.6rem;
}

.ebooks__description {
    font-size: 2.2rem;
    font-weight: 100;
}

.ebooks__cards {
    display: flex;
    flex-direction: column;
    gap: 10.0rem;
    margin-top: 10.0rem;
}

.ebooks__card img {
    margin-bottom: 2.0rem;
}

.ebooks__price {
    font-size: 4.0rem;
    padding: 16px 0;
}

.ebooks__description-content {
    font-weight: 200;
    margin-bottom: 50px;
}

.ebooks__buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
}

.button-transparent-border-none {
    background-color: transparent;
    border: none;
}

.button-transparent-border-none a {
    color: red;
    font-weight: 700;
    text-decoration: none;
}

.padding-button-transparent {
    padding-left: 36px;
    padding-right: 36px;
}

.channels {
    margin: 50px 0;
    padding: 26px;
    border: none;
    background-image: url(../assets/bg-news-mob.jpg);
}

.channels__content {
    text-align: center;
    padding: 26px;
    font-size: 2.0rem;
}

.channels__links-arrow {
    display: none;
}

.channels__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.amazon {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.amazon__content {
    text-align: center;
}

.amazon__books {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    padding-bottom: 1rem;
}

.amazon__books-card {
    margin-left: 1rem;
    width: calc(100vw - 1rem * 2);
    flex: 0 0 calc(100vw - 1rem * 2);
    scroll-snap-align: center;
    padding-bottom: 23px;

    display: flex;
    gap: 2rem;

    img {
        width: 32%;
    }
}

.books-card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        margin-top: auto;
        align-self: self-start;
    }
}

main {

    /* scrollbar mobile */
    
    *::-webkit-scrollbar {
        height: .4rem;
    }

    *::-webkit-scrollbar-track {
        background-color: transparent;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #EE3231;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    padding-bottom: 26px;
    padding-top: 26px;
    gap: 56px;
    text-align: center;
}

.contact__links {
    display: flex;
    justify-content: space-between;
}