@import url(../../../../FontFamily/googleFonts.css);

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: brown;

    font-family: "Rowdies", sans-serif;
    font-weight: 500;
}

fieldset {
    height: 100%;
    border: none;
    display: flex;
    flex-direction: column;
}

label, div {
    margin: 26px 0 5px;
}

input {
    padding: 6px;
}

input, textarea {
    border-radius: 5px;
    border: none;
    box-shadow: 1px 1px 5px black;
    
}

textarea {
    min-height: 110px;
    min-width: 543px;
    max-height: 110px;
    max-width: 543px;
}

legend {
    font-family: "Rowdies", sans-serif;
    font-weight: 700;
    font-style: bold;
    font-size: 20px;
}

.task_form {
    width: 30%;
    background-color: #716D95;
    box-shadow: 1px 1px 5px black;
    border-radius: 5px;

    padding: 16px;
}

.btn {
    width: fit-content;
    background-color: #B4B7CC;
    border: none;

    padding: 12px 10px;
    box-shadow: 1px 1px 5px black;
}

.btn:hover {
    background-color: #9098da;
    cursor: pointer;
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


#title {
    height: 25px;
}

#counter {
    margin-top: 5px;
}

#feedbackMessage{
    position: fixed;
    left: 1rem;
    top: 0rem;
    right: 1rem;
    border-radius: 5px;

    background-color: #ef9595;
    color: #652f2f;
    box-shadow: 1px 1px 5px black;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: 1.25em;

    transform: translateY(calc(-2rem - 100%));
    transition: transform .3s;
}
#feedbackMessage p{
    margin: .5em 0;
    font-size: 36px;
    text-transform: uppercase;
}
#feedbackMessage button{
    background-color: transparent;
    border: none;
    font-size: 1.25em;
    color: #652f2f;
}

#feedbackMessage button:hover {
    cursor: pointer;
}

#feedbackMessage.show{
    transform: translateY(0px);
}