*,
:after,
:before {
  box-sizing: border-box;
}

body,
dd,
dl,
dt,
figcaption,
figure,
h1,
h2,
h3,
h4,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scroll-behavior: smooth;
  font-size: 1rem;
  min-height: 100vh;
}

ol[class],
ul[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration: underline;
  text-decoration-skip-ink: auto;
  cursor: pointer;
}

input::-webkit-input-placeholder,
select::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  line-height: normal;
}

img {
  max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation: none !important;
    animation: none !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}

.sf-flow {
  --flow-space: 1em;
}

.sf-flow > * + * {
  margin-top: 1em;
  margin-top: var(--flow-space);
}

.align-start {
  align-items: flex-start;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: flex-end;
}

.bg-mint {
  background: #6fdcbf;
}

.bg-mint-no-swop {
  background: #6fdcbf;
}

.bg-mint-up {
  background: #a5d4bb;
}

.bg-mint-down {
  background: #55af96;
}

.bg-lilac {
  background: #ae8fdb;
}

.bg-lilac-no-swop {
  background: #ae8fdb;
}

.bg-sea {
  background: #72cada;
}

.bg-highlight {
  background: #ae8fdb;
}

.bg-lilac-up {
  background: #b1b1d8;
}

.bg-sherbet {
  background: #fef8b4;
}

.bg-rose {
  background: #dc849b;
}

.bg-marshmellow {
  background: #d695b6;
}

.bg-peach {
  background: #f2c3c0;
}

.bg-biscuit {
  background: #ad998a;
}

.bg-oat {
  background: #cbc1bd;
}

.bg-light {
  background: #f7f7f7;
}

.bg-light-down {
  background: #fafafa;
}

.bg-light-down-2 {
  background: #f4f5f5;
}

.bg-light-down-3 {
  background: #ecedee;
}

.bg-light-fade {
  background: #eeebef;
}

.bg-mid {
  background: #ccc;
}

.bg-dark {
  background: #404040;
}

.bg-dark-down {
  background: #303145;
}

.bg-dark-no-swop {
  background: #404040;
}

.color-mint {
  color: #6fdcbf;
}

.color-mint-no-swop {
  color: #6fdcbf;
}

.color-mint-up {
  color: #a5d4bb;
}

.color-mint-down {
  color: #55af96;
}

.color-lilac {
  color: #ae8fdb;
}

.color-lilac-no-swop {
  color: #ae8fdb;
}

.color-sea {
  color: #72cada;
}

.color-highlight {
  color: #ae8fdb;
}

.color-lilac-up {
  color: #b1b1d8;
}

.color-sherbet {
  color: #fef8b4;
}

.color-rose {
  color: #dc849b;
}

.color-marshmellow {
  color: #d695b6;
}

.color-peach {
  color: #f2c3c0;
}

.color-biscuit {
  color: #ad998a;
}

.color-oat {
  color: #cbc1bd;
}

.color-light {
  color: #f7f7f7;
}

.color-light-down {
  color: #fafafa;
}

.color-light-down-2 {
  color: #f4f5f5;
}

.color-light-down-3 {
  color: #ecedee;
}

.color-light-fade {
  color: #eeebef;
}

.color-mid {
  color: #ccc;
}

.color-dark {
  color: #404040;
}

.color-dark-down {
  color: #303145;
}

.color-dark-no-swop {
  color: #404040;
}

.box-block {
  display: block;
}

.box-flex {
  display: flex;
}

.box-inline-flex {
  display: inline-flex;
}

.box-hide {
  display: none;
}

.font-base {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.font-sans-serif {
  font-family: Mosk, sans-serif;
}

.font-cursive {
  font-family: Jenthill, sans-serif;
}

.gap-top-300 {
  margin-top: 0.8rem;
}

.gap-top-500 {
  margin-top: 1.25rem;
}

.gap-top-600 {
  margin-top: 1.56rem;
}

.gap-top-700 {
  margin-top: 1.95rem;
}

.gap-top-800 {
  margin-top: 2.44rem;
}

.gap-top-900 {
  margin-top: 3.05rem;
}

.gap-top-base {
  margin-top: 1rem;
}

.gap-top-max {
  margin-top: 4rem;
}

.gap-top-x-lg {
  margin-top: 6rem;
}

.gap-bottom-300 {
  margin-bottom: 0.8rem;
}

.gap-bottom-500 {
  margin-bottom: 1.25rem;
}

.gap-bottom-600 {
  margin-bottom: 1.56rem;
}

.gap-bottom-700 {
  margin-bottom: 1.95rem;
}

.gap-bottom-800 {
  margin-bottom: 2.44rem;
}

.gap-bottom-900 {
  margin-bottom: 3.05rem;
}

.gap-bottom-base {
  margin-bottom: 1rem;
}

.gap-bottom-max {
  margin-bottom: 4rem;
}

.gap-bottom-x-lg {
  margin-bottom: 6rem;
}

.leading-tight {
  line-height: 1.2;
}

.leading-mid {
  line-height: 1.5;
}

.measure-long {
  max-width: 75ch;
}

.measure-short {
  max-width: 60ch;
}

.measure-compact {
  max-width: 40ch;
}

.pad-top-300 {
  padding-top: 0.8rem;
}

.pad-top-500 {
  padding-top: 1.25rem;
}

.pad-top-600 {
  padding-top: 1.56rem;
}

.pad-top-700 {
  padding-top: 1.95rem;
}

.pad-top-800 {
  padding-top: 2.44rem;
}

.pad-top-900 {
  padding-top: 3.05rem;
}

.pad-top-base {
  padding-top: 1rem;
}

.pad-top-max {
  padding-top: 4rem;
}

.pad-top-x-lg {
  padding-top: 6rem;
}

.pad-bottom-300 {
  padding-bottom: 0.8rem;
}

.pad-bottom-500 {
  padding-bottom: 1.25rem;
}

.pad-bottom-600 {
  padding-bottom: 1.56rem;
}

.pad-bottom-700 {
  padding-bottom: 1.95rem;
}

.pad-bottom-800 {
  padding-bottom: 2.44rem;
}

.pad-bottom-900 {
  padding-bottom: 3.05rem;
}

.pad-bottom-base {
  padding-bottom: 1rem;
}

.pad-bottom-max {
  padding-bottom: 4rem;
}

.pad-bottom-x-lg {
  padding-bottom: 6rem;
}

.pad-left-300 {
  padding-left: 0.8rem;
}

.pad-left-500 {
  padding-left: 1.25rem;
}

.pad-left-600 {
  padding-left: 1.56rem;
}

.pad-left-700 {
  padding-left: 1.95rem;
}

.pad-left-800 {
  padding-left: 2.44rem;
}

.pad-left-900 {
  padding-left: 3.05rem;
}

.pad-left-base {
  padding-left: 1rem;
}

.pad-left-max {
  padding-left: 4rem;
}

.pad-left-x-lg {
  padding-left: 6rem;
}

.space-between {
  justify-content: space-between;
}

.space-around {
  justify-content: space-around;
}

.space-before {
  justify-content: flex-end;
}

.stack-300 {
  z-index: 0;
}

.stack-400 {
  z-index: 10;
}

.stack-500 {
  z-index: 20;
}

.stack-600 {
  z-index: 30;
}

.stack-700 {
  z-index: 40;
}

.text-300 {
  font-size: 0.8rem;
}

.text-500 {
  font-size: 1.25rem;
}

.text-600 {
  font-size: 1.56rem;
}

.text-700 {
  font-size: 1.95rem;
}

.text-800 {
  font-size: 2.44rem;
}

.text-900 {
  font-size: 3.05rem;
}

.text-base {
  font-size: 1rem;
}

.text-max {
  font-size: 4rem;
}

.text-x-lg {
  font-size: 6rem;
}

.weight-light {
  font-weight: 300;
}

.weight-regular {
  font-weight: 400;
}

.weight-mid {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.width-full {
  width: 100%;
}

.width-half {
  width: 50%;
}

.width-quarter {
  width: 25%;
}

.width-third {
  width: 33.3333333333%;
}

@media screen and (min-width: 48rem) {
  .md\:align-start {
    align-items: flex-start;
  }
  .md\:align-center {
    align-items: center;
  }
  .md\:align-end {
    align-items: flex-end;
  }
  .md\:box-block {
    display: block;
  }
  .md\:box-flex {
    display: flex;
  }
  .md\:box-inline-flex {
    display: inline-flex;
  }
  .md\:box-hide {
    display: none;
  }
  .md\:space-between {
    justify-content: space-between;
  }
  .md\:space-around {
    justify-content: space-around;
  }
  .md\:space-before {
    justify-content: flex-end;
  }
  .md\:text-300 {
    font-size: 0.8rem;
  }
  .md\:text-500 {
    font-size: 1.25rem;
  }
  .md\:text-600 {
    font-size: 1.56rem;
  }
  .md\:text-700 {
    font-size: 1.95rem;
  }
  .md\:text-800 {
    font-size: 2.44rem;
  }
  .md\:text-900 {
    font-size: 3.05rem;
  }
  .md\:text-base {
    font-size: 1rem;
  }
  .md\:text-max {
    font-size: 4rem;
  }
  .md\:text-x-lg {
    font-size: 6rem;
  }
  .md\:width-full {
    width: 100%;
  }
  .md\:width-half {
    width: 50%;
  }
  .md\:width-quarter {
    width: 25%;
  }
  .md\:width-third {
    width: 33.3333333333%;
  }
}

:root {
  --color-mint: #6fdcbf;
  --color-mint-no-swop: #6fdcbf;
  --color-mint-up: #a5d4bb;
  --color-mint-down: #55af96;
  --color-lilac: #ae8fdb;
  --color-lilac-no-swop: #ae8fdb;
  --color-sea: #72cada;
  --color-highlight: #ae8fdb;
  --color-lilac-up: #b1b1d8;
  --color-sherbet: #fef8b4;
  --color-rose: #dc849b;
  --color-marshmellow: #d695b6;
  --color-peach: #f2c3c0;
  --color-biscuit: #ad998a;
  --color-oat: #cbc1bd;
  --color-light: #f7f7f7;
  --color-light-down: #fafafa;
  --color-light-down-2: #f4f5f5;
  --color-light-down-3: #ecedee;
  --color-light-fade: #eeebef;
  --color-mid: #cccccc;
  --color-dark: #404040;
  --color-dark-down: #303145;
  --color-dark-no-swop: #404040;
}

@font-face {
  font-family: Mosk;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/mosk-600.woff2) format("woff2"),
    url(/fonts/mosk-600.woff) format("woff");
}

@font-face {
  font-family: Mosk;
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/mosk-900.woff2) format("woff2"),
    url(/fonts/mosk-900.woff) format("woff");
}

@font-face {
  font-family: Jenthill;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/jenthill.woff2) format("woff2"),
    url(/fonts/jenthill.woff) format("woff");
}

body {
  line-height: 1.75;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: var(--step-0);
}

h1,
h2,
h3 {
  font-family: Mosk, sans-serif;
  letter-spacing: 0.04em;
}

.headline {
  font-size: var(--step-7);
  line-height: 1.1;
}

.h1 {
  font-size: var(--step-6);
  line-height: 1.2;
}

.h2 {
  font-size: var(--step-5);
  line-height: 1.2;
}

.h3,
h1 {
  font-size: var(--step-4);
  line-height: 1.2;
}

.h4,
h2 {
  font-size: var(--step-3);
  line-height: 1.2;
}

.h5,
h3 {
  font-size: var(--step-2);
  letter-spacing: 1.2;
  line-height: 1.5;
}

.h6,
h4,
h5,
h6 {
  font-size: var(--step-1);
  letter-spacing: 0.02em;
  line-height: 1.8;
}

.small,
small {
  font-size: var(--step--1);
  line-height: 1;
}

.p {
  font-size: var(--step-0);
}

.spacing-md {
  letter-spacing: 0.05rem;
}

:root {
  --fluid-min-width: 320;
  --fluid-max-width: 2000;
  --fluid-min-size: 16;
  --fluid-max-size: 19;
  --fluid-min-ratio: 1.2;
  --fluid-max-ratio: 1.25;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - ((var(--fluid-min-width) / 16) * 1rem)) / ((var(--fluid-max-width) / 16) - (var(--fluid-min-width) / 16)));
}

@media screen and (min-width: 2000px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

:root {
  --fluid-max-negative: (1 / var(--fluid-max-ratio) / var(--fluid-max-ratio));
  --fluid-min-negative: (1 / var(--fluid-min-ratio) / var(--fluid-min-ratio));
  --fluid-min-scale--1: var(--fluid-min-ratio) * var(--fluid-min-negative);
  --fluid-max-scale--1: var(--fluid-max-ratio) * var(--fluid-max-negative);
  --fluid-min-size--1: (var(--fluid-min-size) * var(--fluid-min-scale--1)) / 15;
  --fluid-max-size--1: (var(--fluid-max-size) * var(--fluid-max-scale--1)) / 15;
  --step--1: calc(((var(--fluid-min-size--1) * 1rem) + (var(--fluid-max-size--1) - var(--fluid-min-size--1)) * var(--fluid-bp)));
  --fluid-min-scale-0: var(--fluid-min-ratio);
  --fluid-max-scale-0: var(--fluid-max-ratio);
  --fluid-min-size-0: (var(--fluid-min-size)) / 16;
  --fluid-max-size-0: (var(--fluid-max-size)) / 16;
  --step-0: calc(((var(--fluid-min-size-0) * 1rem) + (var(--fluid-max-size-0) - var(--fluid-min-size-0)) * var(--fluid-bp)));
  --fluid-min-scale-1: var(--fluid-min-scale-0) * var(--fluid-min-ratio);
  --fluid-max-scale-1: var(--fluid-max-scale-0) * var(--fluid-max-ratio);
  --fluid-min-size-1: (var(--fluid-min-size) * var(--fluid-min-scale-0)) / 20;
  --fluid-max-size-1: (var(--fluid-max-size) * var(--fluid-max-scale-0)) / 16;
  --step-1: calc(((var(--fluid-min-size-1) * 1rem) + (var(--fluid-max-size-1) - var(--fluid-min-size-1)) * var(--fluid-bp)));
  --fluid-min-scale-2: var(--fluid-min-scale-1) * var(--fluid-min-ratio);
  --fluid-max-scale-2: var(--fluid-max-scale-1) * var(--fluid-max-ratio);
  --fluid-min-size-2: (var(--fluid-min-size) * var(--fluid-min-scale-1)) / 20;
  --fluid-max-size-2: (var(--fluid-max-size) * var(--fluid-max-scale-1)) / 16;
  --step-2: calc(((var(--fluid-min-size-2) * 1rem) + (var(--fluid-max-size-2) - var(--fluid-min-size-2)) * var(--fluid-bp)));
  --fluid-min-scale-3: var(--fluid-min-scale-2) * var(--fluid-min-ratio);
  --fluid-max-scale-3: var(--fluid-max-scale-2) * var(--fluid-max-ratio);
  --fluid-min-size-3: (var(--fluid-min-size) * var(--fluid-min-scale-2)) / 16;
  --fluid-max-size-3: (var(--fluid-max-size) * var(--fluid-max-scale-2)) / 16;
  --step-3: calc(((var(--fluid-min-size-3) * 1rem) + (var(--fluid-max-size-3) - var(--fluid-min-size-3)) * var(--fluid-bp)));
  --fluid-min-scale-4: var(--fluid-min-scale-3) * var(--fluid-min-ratio);
  --fluid-max-scale-4: var(--fluid-max-scale-3) * var(--fluid-max-ratio);
  --fluid-min-size-4: (var(--fluid-min-size) * var(--fluid-min-scale-3)) / 16;
  --fluid-max-size-4: (var(--fluid-max-size) * var(--fluid-max-scale-3)) / 16;
  --step-4: calc(((var(--fluid-min-size-4) * 1rem) + (var(--fluid-max-size-4) - var(--fluid-min-size-4)) * var(--fluid-bp)));
  --fluid-min-scale-5: var(--fluid-min-scale-4) * var(--fluid-min-ratio);
  --fluid-max-scale-5: var(--fluid-max-scale-4) * var(--fluid-max-ratio);
  --fluid-min-size-5: (var(--fluid-min-size) * var(--fluid-min-scale-4)) / 16;
  --fluid-max-size-5: (var(--fluid-max-size) * var(--fluid-max-scale-4)) / 16;
  --step-5: calc(((var(--fluid-min-size-5) * 1rem) + (var(--fluid-max-size-5) - var(--fluid-min-size-5)) * var(--fluid-bp)));
  --fluid-min-scale-6: var(--fluid-min-scale-5) * var(--fluid-min-ratio);
  --fluid-max-scale-6: var(--fluid-max-scale-5) * var(--fluid-max-ratio);
  --fluid-min-size-6: (var(--fluid-min-size) * var(--fluid-min-scale-5)) / 20;
  --fluid-max-size-6: (var(--fluid-max-size) * var(--fluid-max-scale-5)) / 16;
  --step-6: calc(((var(--fluid-min-size-6) * 1rem) + (var(--fluid-max-size-6) - var(--fluid-min-size-6)) * var(--fluid-bp)));
  --fluid-min-scale-7: var(--fluid-min-scale-6) * var(--fluid-min-ratio);
  --fluid-max-scale-7: var(--fluid-max-scale-6) * var(--fluid-max-ratio);
  --fluid-min-size-7: (var(--fluid-min-size) * var(--fluid-min-scale-6)) / 20;
  --fluid-max-size-7: (var(--fluid-max-size) * var(--fluid-max-scale-6)) / 16;
  --step-7: calc(((var(--fluid-min-size-7) * 1rem) + (var(--fluid-max-size-7) - var(--fluid-min-size-7)) * var(--fluid-bp)));
}

.night {
  -webkit-font-smoothing: antialiased;
  --color-mint: hsl(316, 30%, 36%);
  --color-highlight: hsl(240, 33%, 77%);
  --color-lilac: hsl(263, 29%, 32%);
  --color-peach: hsl(316, 30%, 36%);
  --color-sherbet: hsl(257, 8%, 18%);
  --color-sherbet-fade: hsl(260, 24%, 18%);
  --color-marshmellow: hsl(314, 22%, 42%);
  --color-light: hsl(274, 4%, 15%);
  --color-light-fade: hsl(274, 4%, 16%);
  --color-light-down: hsl(274, 4%, 16%);
  --color-light-down-2: hsl(274, 4%, 18%);
  --color-light-down-3: hsl(274, 4%, 20%);
  --color-mid: hsl(0, 0%, 80%);
  --color-dark: hsl(0, 0%, 98%);
  --color-dark-opacity: hsla(0, 0%, 98%, 0.3);
  --color-dark-down: hsl(0, 0%, 98%);
  --color-mint-selection: rgba(119, 64, 105, 0.9);
  --color-lilac-selection: rgba(76, 58, 105, 0.9);
  --color-light-selection: rgba(38, 37, 40, 0.99);
  --color-dark-selection: rgba(250, 250, 250, 0.99);
}

.day {
  --color-mint: hsl(164, 61%, 65%);
  --color-mint-up: hsl(148, 35%, 74%);
  --color-mint-down: hsl(163, 36%, 51%);
  --color-lilac: hsl(264, 51%, 71%);
  --color-sea: hsl(189, 58%, 65%);
  --color-highlight: hsl(264, 51%, 71%);
  --color-lilac-up: hsl(240, 33%, 77%);
  --color-sherbet: hsl(55, 97%, 85%);
  --color-sherbet-fade: hsl(55, 100%, 94%);
  --color-rose: hsl(344, 56%, 69%);
  --color-marshmellow: hsl(329, 44%, 71%);
  --color-peach: hsl(4, 65%, 85%);
  --color-biscuit: hsl(26, 18%, 61%);
  --color-oat: hsl(17, 12%, 77%);
  --color-light: hsl(0, 0%, 97%);
  --color-light-fade: hsl(300, 11%, 96%);
  --color-light-down: hsl(210, 4%, 98%);
  --color-light-down-2: hsl(210, 4%, 96%);
  --color-light-down-3: hsl(210, 4%, 93%);
  --color-mid: hsl(0, 0%, 80%);
  --color-dark: hsl(0, 0%, 25%);
  --color-dark-opacity: hsla(0, 0%, 25%, 0.3);
  --color-dark-down: hsl(237, 18%, 23%);
  --color-mint-selection: rgba(111, 220, 191, 0.9);
  --color-lilac-selection: rgba(173, 143, 219, 0.9);
  --color-light-selection: rgba(247, 247, 247, 0.99);
  --color-dark-selection: rgba(64, 64, 64, 0.99);
}

pre {
  --color-mint: hsl(164, 61%, 65%);
  --color-lilac: hsl(264, 51%, 71%);
  --color-sea: hsl(189, 58%, 65%);
  --color-sherbet: hsl(55, 97%, 85%);
  --color-rose: hsl(344, 56%, 69%);
  --color-marshmellow: hsl(329, 44%, 71%);
  --color-peach: hsl(4, 65%, 85%);
  --color-light: hsl(0, 0%, 97%);
  --color-dark-down: hsl(237, 18%, 23%);
}

html {
  color: var(--color-dark);
}

body {
  position: relative;
  scroll-behavior: smooth;
  color: var(--color-dark);
  --color-selection: var(--color-mint);
  --color-selection-bg: var(--color-light-selection);
  background-color: var(--color-light-fade);
}

::-webkit-scrollbar {
  width: 11px;
}

* {
  scrollbar-width: auto;
  scrollbar-color: var(--color-mint) var(--color-sherbet-fade);
}

::-webkit-scrollbar-track {
  background: var(--color-sherbet-fade);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-mint);
  border-radius: 6px;
  border: 0;
}

main {
  overflow: hidden;
}

.main-content {
  position: relative;
  z-index: 1;
}

.slide-out {
  position: sticky;
  bottom: 0;
  left: 0;
  width: 100%;
}

.feedbackForm {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feedbackForm > * {
  max-width: 600px;
  margin-top: 6rem;
}

.speaking {
  --color-selection: var(--color-peach);
  --color-selection-bg: var(--color-dark-selection);
}

.speaking .Speaking__image {
  min-width: 50%;
  max-width: 600px;
  height: 400px;
}

.speaking .Speaking__talks {
  margin-top: 5rem;
}

.speaking {
  background-color: var(--color-sherbet);
}

.night .logo {
  --color-mint: hsl(240, 33%, 77%);
  --color-highlight: hsl(316, 30%, 36%);
}

::-moz-selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

::selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

.night ::selection {
  color: var(--color-selection);
  background-color: var(--color-selection-bg);
}

.outline::selection {
  color: var(--color-selection);
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: var(--color-selection);
}

.posts {
  --color-selection: var(--color-dark);
  --color-selection-bg: var(--color-mint-selection);
}

.logo {
  width: 8rem;
  visibility: hidden;
  overflow: visible;
}

main:focus {
  outline: 0;
}

hr {
  display: block;
  height: 2px;
  width: 100%;
  background: var(--color-mint);
  border: none;
  opacity: 1;
  margin: 1.95rem auto;
}

a:not([class]) {
  position: relative;
  display: inline;
  padding: 0.1rem 0.2rem 4px 0.1rem;
  white-space: pre;
  text-decoration: none;
  z-index: 1;
  font-weight: 700;
  line-height: 1;
  background: 0 0;
  white-space: no-wrap;
  color: inherit;
}

a:not([class]):after,
a:not([class]):before {
  content: "";
  position: absolute;
  background-color: var(--color-lilac-no-swop);
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 0;
}

a:not([class]):after {
  transform-origin: center right;
  transition: all cubic-bezier(0.39, 0.575, 0.565, 1) 0.8s;
}

a:not([class]):before {
  transform-origin: center left;
  transform: scaleX(0);
  transition: transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.6s;
}

a:not([class]):hover:after {
  transform: scaleX(0);
  transition: transform cubic-bezier(0.39, 0.575, 0.565, 1) 0.3s;
}

a:not([class]):hover:before {
  transform: scaleX(1);
}

a.unstyled {
  color: inherit;
}

.underline__text {
  line-height: 1;
  display: inline;
  background-image: linear-gradient(
    transparent 50%,
    var(--underline) 50%,
    var(--underline) 85%,
    transparent 85%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
}

.underline:hover .underline__text {
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  background-size: 100% 100%;
}

a.arrow {
  position: relative;
  padding-right: 1.25rem;
  text-decoration: none;
  font-family: Mosk, sans-serif;
  letter-spacing: 0.05rem;
}

a.arrow::after {
  content: "";
  line-height: 1.2;
  position: absolute;
  height: 100%;
  width: 1rem;
  background-repeat: no-repeat;
  top: 0;
  right: 0;
  background-position: 0 50%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 10' aria-hidden='true'%3E%3Cpath fill='%23404040' d='M1 4h11.59l-2.3-2.29A1 1 0 0111.71.29l4 4a1 1 0 010 1.41l-4 4a1 1 0 01-1.41-1.41L12.59 6H1a1 1 0 010-2z'/%3E%3C/svg%3E");
  transition: transform ease-out 0.2s;
}

a.arrow:hover::after {
  transform: translateX(0.3rem);
}

.night a.arrow::after {
  filter: invert(1);
}

.button {
  display: inline-block;
  position: relative;
  padding: 0.5rem 1.25rem;
  background-color: var(--color-dark);
  color: var(--color-dark);
  font-family: Mosk, sans-serif;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.button:after {
  position: absolute;
  content: attr(data-content);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: solid 2px var(--color-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-0.3rem, -0.3rem);
  transition: transform 0.2s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.button:hover:after {
  transform: translate(0, 0);
}

.night .button:after {
  background-color: var(--color-lilac);
}

.videos {
  margin: 0 1rem;
  max-width: 500px;
}

.videos > * + * {
  margin-top: 1rem;
}

@media (min-width: 48rem) {
  .videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    margin: 0 1rem;
  }
  .videos > * + * {
    margin-top: 0;
  }
}

#heading-schedule ~ p img {
  display: block;
  max-width: 500px;
  margin: 0 auto;
}

input[type="range"] {
  width: 100%;
  margin: 7.3px 0;
  background-color: transparent;
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: 0;
}

input[type="range"]::-webkit-slider-runnable-track {
  background: var(--color-lilac);
  border: none;
  border-radius: 24.9px;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}

input[type="range"]::-webkit-slider-thumb {
  margin-top: -7.5px;
  width: 26px;
  height: 26px;
  background: var(--color-mint);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: var(--color-lilac);
}

input[type="range"]::-moz-range-track {
  background: var(--color-lilac);
  border: none;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
  width: 26px;
  height: 26px;
  background: var(--color-mint);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
}

input[type="range"]::-ms-track {
  background: 0 0;
  border-color: transparent;
  border-width: 8.2px 0;
  color: transparent;
  width: 100%;
  height: 11.4px;
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  width: 26px;
  height: 26px;
  background: var(--color-mint);
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 0;
}

input[type="range"]:focus::-ms-fill-lower {
  background: var(--color-lilac);
}

input[type="range"]:focus::-ms-fill-upper {
  background: var(--color-lilac);
}

@supports (-ms-ime-align: auto) {
  input[type="range"] {
    margin: 0;
  }
}

article input[type="range"] {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.radio {
  width: 33%;
  min-width: 250px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
  margin-right: 0.5rem;
  border: solid 2px var(--color-mint);
}

.radio input:checked ~ .checkmark {
  background-color: var(--color-mint);
}

.radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radio input:checked ~ .checkmark:after {
  display: block;
}

.radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  background: #fff;
}

.post__footer h2 a,
.skip-link:not(:focus),
.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.wrapper {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  padding-left: calc(1rem + (8 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (8 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-sm {
  max-width: 55rem;
  padding-left: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-md {
  max-width: 65rem;
  padding-left: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-right: calc(1rem + (4 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.wrapper-lg {
  max-width: 95rem;
}

@media screen and (min-width: 100em) {
  .wrapper,
  .wrapper-lg {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .wrapper-md,
  .wrapper-sm {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.pad-before-x-sm {
  padding-top: calc(0.75rem + (1 - 0.75) * ((100vw - 20rem) / (100 - 20)));
}

.pad-after-x-sm {
  padding-bottom: calc(0.75rem + (1 - 0.75) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around-x-sm {
  padding-top: calc(0.75rem + (1 - 0.75) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(0.75rem + (1 - 0.75) * ((100vw - 20rem) / (100 - 20)));
}

.pad-before-sm {
  padding-top: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.pad-after-sm {
  padding-bottom: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around-sm {
  padding-top: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(1rem + (1.5 - 1) * ((100vw - 20rem) / (100 - 20)));
}

.pad-before {
  padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
}

.pad-after {
  padding-bottom: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around {
  padding-top: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(2rem + (4 - 2) * ((100vw - 20rem) / (100 - 20)));
}

.pad-before-lg {
  padding-top: calc(4rem + (6 - 4) * ((100vw - 20rem) / (100 - 20)));
}

.pad-after-lg {
  padding-bottom: calc(4rem + (6 - 4) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around-lg {
  padding-top: calc(4rem + (6 - 4) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(4rem + (6 - 4) * ((100vw - 20rem) / (100 - 20)));
}

.pad-before-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

.pad-after-xlg {
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

.pad-around-xlg {
  padding-top: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
  padding-bottom: calc(7.5rem + (10 - 7.5) * ((100vw - 20rem) / (100 - 20)));
}

@media screen and (min-width: 100em) {
  .pad-before-x-sm {
    padding-top: 1rem;
  }
  .pad-after-x-sm {
    padding-bottom: 1rem;
  }
  .pad-around-x-sm {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pad-before-sm {
    padding-top: 1.5rem;
  }
  .pad-after-sm {
    padding-bottom: 1.5rem;
  }
  .pad-around-sm {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  .pad-before {
    padding-top: 4rem;
  }
  .pad-after {
    padding-bottom: 4rem;
  }
  .pad-around {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pad-before-lg {
    padding-top: 6rem;
  }
  .pad-after-lg {
    padding-bottom: 6rem;
  }
  .pad-around-lg {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
  .pad-before-xlg {
    padding-top: 10rem;
  }
  .pad-after-xlg {
    padding-bottom: 10rem;
  }
  .pad-around-xlg {
    padding-top: 10rem;
    padding-bottom: 10rem;
  }
}

.u-center {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.heading-permalink {
  color: var(--color-lilac-no-swop);
  font-size: var(--step-1);
  margin-left: 1rem;
}

.Intro {
  position: relative;
  background-color: var(--color-light);
  color: var(--color-dark);
  border: solid 3px var(--color-dark);
  background-color: var(--color-light);
  box-shadow: 0.5rem 0.5rem 0 0 var(--color-dark-down);
  padding-left: 1rem;
  padding-right: 1rem;
  max-width: 80vw;
  margin: 0 auto;
}

.Intro__svg {
  position: absolute;
  height: 200px;
  top: -58px;
  left: -181px;
  z-index: -1;
}

.Intro:after {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 18vw;
  height: 18vw;
  min-width: 150px;
  min-height: 150px;
  right: -20%;
  bottom: -12%;
  border-radius: 100%;
  background-color: var(--color-mint);
  z-index: -2;
}

.Intro:before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 18vw;
  height: 18vw;
  min-width: 150px;
  min-height: 150px;
  right: -14%;
  bottom: -15%;
  border-radius: 100%;
  border: solid 3px var(--color-dark);
  z-index: -1;
}

.Intro__summary {
  z-index: 1;
  position: relative;
  --flow-space: 1.25rem;
}

.Intro__list > * + * {
  padding-left: 0.5rem;
}

.Intro__list-item {
  display: inline-block;
}

.Intro__list-link {
  color: inherit;
  text-decoration: none;
  border-bottom: 2px solid var(--color-mint);
}

.Intro__meta {
  position: relative;
  padding-left: 0.9rem;
  padding-top: 1.5rem;
  --flow-space: 0.75rem;
}

.Intro__meta:after {
  content: "";
  position: absolute;
  width: 3.5rem;
  height: 150%;
  left: 0;
  top: 0;
  background-color: var(--color-lilac);
  border: 2px solid var(--color-dark);
  z-index: -1;
}

.Intro__meta-item {
  display: flex;
  align-items: center;
}

.Intro__icon {
  width: 1.5rem;
  margin-right: 2rem;
  color: var(--color-dark);
}

.Intro__heading {
  display: inline;
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    var(--color-peach) 55%,
    var(--color-peach) 90%,
    transparent 90%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-size: 0 100%;
  animation: underline 0.5s 1s cubic-bezier(0.645, 0.045, 0.355, 1) forwards;
}

.Intro__copy {
  position: relative;
}

.Intro--compact {
  max-width: 20ex;
}

.Intro__list-item {
  list-style: none;
}

.Intro__tag {
  text-decoration: none;
}

.posts .Intro__heading:only-child {
  display: block;
  padding-bottom: 1.5rem;
  background-image: none;
}

@media screen and (min-width: 800px) {
  .Intro {
    box-shadow: 1rem 1rem 0 0 var(--color-dark);
  }
  .Intro__inner {
    display: flex;
  }
  .Intro__heading {
    border: none;
  }
  .Intro__copy {
    width: 50%;
    margin-left: 2rem;
  }
  .Intro__byline {
    margin-right: 2rem;
  }
  .Intro__copy:only-child {
    width: 100%;
  }
  .Intro__icon {
    width: 2rem;
  }
  .Intro__svg {
    height: 250px;
    top: -90px;
    left: -100px;
  }
  .Intro__meta {
    margin-left: 2rem;
    --flow-space: 1rem;
  }
  .Intro__meta:after {
    width: 4rem;
    height: 170%;
    left: 0;
  }
  .Intro__summary {
    margin-top: 0;
  }
  .Intro:after {
    right: -16%;
    bottom: -30%;
  }
  .Intro:before {
    right: -14%;
    bottom: -34%;
  }
}

.writing {
  --color-selection: var(--color-peach);
  --color-selection-bg: var(--color-dark-selection);
}

.writing .Intro:after {
  background-color: var(--color-lilac);
}

@keyframes underline {
  to {
    background-size: 8rem 100%;
  }
}

.tags .Intro:after {
  background-color: var(--color-marshmellow);
}

.tags .Intro__heading {
  display: inline;
  background-image: linear-gradient(
    transparent 0,
    transparent 55%,
    var(--color-peach) 55%,
    var(--color-peach) 90%,
    transparent 90%,
    transparent 100%
  );
}

@keyframes underline {
  to {
    background-size: 8rem 100%;
  }
}

.post img {
  margin: 0 auto;
  display: block;
}

.post__intro {
  position: relative;
  z-index: 1;
}

.post__body {
  --flow-space: 2.44rem;
}

.post__body h2 + *,
.post__body h3 + * {
  --flow-space: 1.25rem;
}

.post__body h2,
.post__body h3 {
  position: relative;
  line-height: 1.2;
}

.post__body h2 code,
.post__body h3 code {
  font-size: var(--step-2);
}

.post__body pre {
  position: relative;
  border-radius: 15px;
}

.post__body pre * ::-webkit-scrollbar {
  width: 11px;
}

.post__body pre * {
  scrollbar-width: auto;
  scrollbar-color: var(--color-lilac-no-swop) var(--color-dark-no-swop);
}

.post__body pre ::-webkit-scrollbar-track {
  background: var(--color-dark-no-swop);
}

.post__body pre ::-webkit-scrollbar-thumb {
  background-color: var(--color-lilac-no-swop);
  border-radius: 6px;
  border: 3px solid var(--color-dark-no-swop);
}

.post__body code {
  font-size: var(--step-0);
  white-space: pre;
  color: var(--color-lilac-no-swop);
  font-weight: 700;
  margin-left: 0.5ch;
  margin-right: 0.5ch;
}

.post__body pre > code {
  overflow: auto;
  position: unset;
  width: 100%;
  margin-right: 0;
  --color-selection: var(--color-lilac);
  --color-selection-bg: var(--color-light-selection);
}

.post__body pre[class*="language-"] {
  overflow: visible;
  margin-top: 2rem;
}

.post__body pre[class*="language-"]:after {
  font-family: Mosk, sans-serif;
  font-size: var(--step--1);
  position: absolute;
  content: "";
  bottom: 100%;
  right: 1.5rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: inherit;
  color: var(--color-lilac-up);
  padding: 0.5rem 0.5rem 0 0.5rem;
  min-width: 3rem;
  text-align: center;
  letter-spacing: 1px;
}

.post__body pre[class*="language-"] + pre[class*="language-"] {
  margin-top: 4rem;
}

.post__body pre.language-css:after {
  content: "CSS";
}

.post__body pre.language-svg:after {
  content: "SVG";
}

.post__body pre.language-html:after {
  content: "HTML";
}

.post__body pre.language-js:after {
  content: "JS";
}

.post__body pre.language-json:after {
  content: "data.html";
}

.post__body blockquote {
  border-left: 0.4rem solid var(--color-mint);
  margin-left: 0;
  padding-left: 1.25rem;
  font-style: italic;
  font-weight: 700;
  color: var(--color-dark-down);
  font-size: var(--step-0);
}

.post__body blockquote p {
  opacity: 0.85;
  padding: 1.25rem 0;
}

.post__body ol,
.post__body ul {
  margin-left: 1.25rem;
}

.post__body li + li {
  margin-top: 0.8rem;
}

.post__body .video-player,
.post__body .video-player + *,
.post__body figure,
.post__body figure + *,
.post__body pre > code {
  --flow-space: 4rem;
}

.post__body .video-player,
.post__body figure,
.post__body pre > code {
  width: 100%;
  max-width: 80rem;
  margin-left: 50%;
  transform: translateX(-50%);
  position: relative;
}

.post__body .video-player,
.post__body figure img {
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.post__body figure img {
  position: relative;
  z-index: 1;
}

.post__body figcaption {
  font-size: 0.8em;
  font-style: italic;
  margin: 0.5rem auto 0 auto;
  padding: 0 1.25rem;
}

.post__body pre > code {
  display: block;
  font-size: var(--step-0);
}

@media screen and (min-width: 800px) {
  .post__body pre > code {
    padding: 1.25rem;
  }
}

.post__footer {
  background: var(--color-mint);
}

.post__footer h2 {
  flex-shrink: 0;
  margin-right: 1rem;
}

.post__footer a {
  background: var(--color-bg);
  padding: 0.4rem 0.6rem;
}

.post__footer .nav {
  text-transform: none;
}

.Post-list__items {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.Post-list__item {
  --flow-space: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.Post-list__item__heading {
  --underline: var(--color-peach);
  text-decoration: none;
  color: var(--color-dark);
  margin-top: 2rem;
}

.Post-list__item__image {
  display: none;
}

.Post-list__item__date {
  position: relative;
  display: block;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(125, 125, 125, 0.255) 50%,
    rgba(255, 255, 255, 0) calc(50% + 3px),
    rgba(255, 255, 255, 0) 100%
  );
}

.Post-list__item__date time {
  padding-right: 1rem;
  background-color: var(--color-light-fade);
}

.Post-list__item__tag + .Post-list__item__tag {
  padding-left: 0.75rem;
  margin-left: 0.5rem;
  border-left: solid 1px var(--color-dark);
}

.Post-list__item__meta {
  padding-bottom: 3rem;
}

.Post-list__item footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 50%,
    rgba(125, 125, 125, 0.255) 50%,
    rgba(255, 255, 255, 0) calc(50% + 3px),
    rgba(255, 255, 255, 0) 100%
  );
}

.Post-list__item footer a {
  color: var(--color-dark);
  text-transform: capitalize;
  text-decoration: none;
  transition: color 0.15s ease-out;
}

.Post-list__item footer a:hover {
  color: var(--color-lilac-no-swop);
}

.Post-list__item footer a:hover:after {
  filter: invert(0.4) sepia(1) saturate(2.5) hue-rotate(214deg) brightness(0.99);
}

.Post-list__item footer > * {
  background-color: var(--color-light-fade);
}

.Post-list__item footer > :nth-child(1) {
  padding-right: 1rem;
}

.Post-list__item footer > :nth-child(2) {
  padding-left: 1rem;
}

.Post-list__link {
  color: var(--color-mint);
  text-decoration: underline;
}

.Post-list__link:hover {
  text-decoration: none;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 50%,
    var(--color-lilac) 50%
  );
}

@media screen and (min-width: 800px) {
  .Post-list__items {
    display: flex;
    flex-wrap: wrap;
  }
  .Post-list__item {
    --flow-space: 0;
    width: 50%;
  }
  .Post-list__item > * {
    --flow-space: 1rem;
  }
  .Post-list__item__image {
    display: block;
    border-radius: 10px;
    width: 100%;
    height: 230px;
    object-fit: cover;
  }
}

@media screen and (min-width: 1000px) {
  .Post-list__item {
    --flow-space: 0;
    width: 33%;
  }
}

.Workshop {
  --color-selection: var(--color-lilac);
  --color-selection-bg: var(--color-dark-selection);
  background-color: var(--color-sherbet);
}

.Works {
}