body {
    background-color: brown;

    display: flex;
    flex-direction: column;
    justify-content: center;

    min-height: 100vh;
}

h1 {
    text-align: center;
    text-shadow: 1px 1px 5px black;
    font-size: 36px;
    color: white;
}

/* .main-section {
    width: 100%;
} */

.container-cards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    gap: 16px;
    height: 100vh;
}

.card {
    position: relative;
    background-color: white;
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    padding: 16px;
}

.card p {
    font-size: 18px;
    line-height: 1.3;
    letter-spacing: 1.2px;
}

.card.text-hidden::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 64px;
    background-image: linear-gradient(transparent, white 80%);
    pointer-events: none;
}

.card button {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
    border: none;
    font-size: 1.5em;
    transition: .1s;
}

.card button:hover {
    color: red;
    cursor: pointer;
}