body {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;

    background-color: beige;
}

.element {
    width: 50%;
    border-radius: 5px;

    color: white;
    background-color: brown;
    box-shadow: 1px 1px 5px black;
    filter: drop-shadow(1px 1px 5px black);

    h1 {
        text-align: center;
        text-shadow: 1px 1px 5px black;
    }
}