body {
    background-color: #7B3D3E;
    color: white;
}

.gridContainer {
    width: 300px;
    /* background-color: #ccc */
}

.gridItem {
    background-color: #999;
    font-size: 2em;
    font-family: sans-serif;
    padding: 5px 15px;
}

.gridItem:nth-child(even) {
    background: #999;
}

.gridItem:nth-child(odd) {
    background: #eee;
    color: initial;
}

/* GRID */

.gridContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-template-rows: 100px 100px 100px;
    /* row-gap: 10px;
    column-gap: 20px; */
    gap: 10px 5px;
}

.gridItem:nth-child(1) {
    background-color: yellow;
    /* grid-row-start: 1;
    grid-row-end: 2; */
    grid-row: 1 / 2;
    /* grid-column-start: 1;
    grid-column-end: -2; */
    grid-column: 1 / -2;
}

.gridItem:nth-child(2) {
    background-color: rgb(2, 202, 202);
    grid-row: 1 / -1;
}

.gridItem:nth-child(5) {
    /* start row / start column / end row / end column  */
    grid-area: 2 / 3  / 4 / 4;
}

.gridItem:nth-child(6) {
    grid-column: span 2;
}