body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;

    background-color: black;
}

.container {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;

    border-radius: 5px;
    padding: 36px;

    background-color: brown;
    filter: drop-shadow(1px 1px 5px white);

    .imagens {
        filter: drop-shadow(1px 1px 5px black);

        img {
            border-radius: 5px;
        }
    }
}

.container .imagens img {
    display: none;
}

.container .imagens img.show {
    display: block;
}

.fa-solid {
    color: white;
    filter: drop-shadow(1px 1px 5px black);
}

.fa-solid:hover {
    cursor: pointer;
}