body {
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgb(170, 253, 253);
}

.contador {
    text-align: center;
    color: white;
    background-color: brown;
    padding: 16px;
}